
>>> body {
    margin: 0;
}

main {
    margin: 30px;
}

.menu-button {
    background: #607d8b;
    color: white;
    border: none;
    cursor:pointer;
    outline:none;
}

a.disable {
    color: gray;
    cursor: not-allowed;
    text-decoration: underline;
}

.admin {
    position: absolute;
    right: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
    
}